{% if configure_upstreams %}

upstream {{ upstream_name }} {

{% for host in ansible_play_hosts %}
{% if host != inventory_hostname %}
        server {{ host }};
{% endif %}
{% endfor %}


}

{% endif %}

server {
        listen {{ http_port }};
        root /var/www/html;
        index index.php index.html index.htm index.nginx-debian.html;
        server_name {{ http_host }};

        location / {
                try_files $uri $uri/ =404;
        }

}
